body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color:pink;
}

h1 {
    color: #333;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
}

.square {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.square.is-off {
    background-color: black;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}